@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

/* Gaya Dasar */
body {
    font-family: kadwa;
    background: linear-gradient(135deg, #a8e6cf, #dcedc1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Modal Backdrop (untuk efek gelap di belakang form) */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparan hitam */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Konten Modal (Kotak Form) */
.modal-content {
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px; /* Lebar maksimum form */
}
h1 {
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: black;
    font-family: kadwa;
}

/* Bagian Transaksi Data */
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-family: kadwa;
}

/* Grup Form untuk Label dan Input */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input[type="date"],
input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* agar padding tidak menambah lebar */
}
/* Gaya untuk File Upload */
.file-upload {
    position: relative;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #2D6A4F
}
/* Tombol Submit */
submit {
    display: flex;
    justify-content: center; /* Memindahkan tombol ke kanan */
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.btn-submit {
    background-color: #2D6A4F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: black;
}

